# Logs
nohup.out
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env

# Doppler CLI
.doppler.yaml

# Test coverage
coverage/
